* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Fraunces', serif; */
}

body {
    width: 100vw;
    min-height: 100svh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

main {
    width: 90%;
    border-radius: 10px;
    background-color: white;
}

main img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

main section {
    width: 100%;
    padding: 5%;
}

p {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

main section p:first-child {
    letter-spacing: 5px;
}

main section h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 1.75rem;
    margin: 10px 0;
}

main section :nth-child(3) {
    line-height: 150%;
    font-weight: 500;
}

#price {
    font-family: 'Fraunces', serif;
    font-size: 1.75rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin: 15px 0;
}

#price del {
    font-size: 1rem;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

button {
    width: 100%;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
}

button img {
    width: 20px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 25%);
}

@media (min-width: 450px) {
    main {
        width: 40%;
        min-width:450px ;
        max-height: 500px;
        max-width: 700px;
        border-radius: 10px;
        display: flex;
    }

    main section {
        padding: 5%;
    }

    main img {
        border-radius: 10px 0 0 10px;
    }
}